language: java
env:
  global:
    - GPG_EXECUTABLE=gpg
install: mvn install -DskipTests
before_install:
  - echo $GPG_SECRET_KEYS | base64 --decode | $GPG_EXECUTABLE --import
  - echo $GPG_OWNERTRUST | base64 --decode | $GPG_EXECUTABLE --import-ownertrust
cache:
  directories:
    - $HOME/.m2
deploy:
# - provider: script
#   script: .travis/release.sh
#   skip_cleanup: true
#   on:
#     repo: imrafaelmerino/json-values
#     tags: true
 - provider: releases
   skip_cleanup: true
   api_key: ${env.GITHUB_TOKEN}
   draft: true
   prerelease: true
   name: Snowy
   file:
     - target/javadoc.zip
     - target/sources.zip
     - docs/CHANGELOG.md
   on:
     repo: imrafaelmerino/json-values
     tags: true
addons:
  sonarcloud:
    organization: "imrafaelmerino"

script:
  - mvn clean verify sonar:sonar -Pcoverage -Dsonar.projectKey=imrafaelmerino_json-values